<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homiefy</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="../css/home-index.css">

</head>
<body>
<header class="header-area header-sticky wow slideInDown">
	<div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <!-- ***** Logo Start ***** -->
            <a href="/" class="logo">
            </a>
            <!-- ***** Logo End ***** -->
            <!-- ***** Menu Start ***** -->
            <ul class="nav">
              <li><a href="/home" class="active">Home</a></li>
              <li><a href="/about">About</a></li>
              <li><a href="/contact">Contact Us</a></li> 
              <li><div class="main-white-button"><a href="javascript: #show-login1();" id="show-login1"><i class="fa fa-plus"></i> LOG IN / Register</a></div></li> 
            </ul>        
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
</header>
<div class="main-banner">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="top-text header-text">
            <h6>Hello There!</h6>
            <h2>Are you ready to find your Homies ?</h2>
          </div>
        </div>
  <div class="registerForm">
        <!-- <form method="POST" action="https://homiefy-group-a.herokuapp.com/register" enctype="multipart/form-data"> -->
        <form method="POST" action="/api/auth/register" enctype="application/json">
            <!--h3>Sign Up</h3> -->
            <div class="close-btn">&times;</div>
            <div class="form-group fname">
                <!-- <label>First name</label> -->
                <input type="text" name="firstName" class="form-control" placeholder="First name" required />
            </div>

            <div class="form-group">
                <!-- <label>Last name</label> -->
                <input type="text" name="lastName" class="form-control" placeholder="Last name" required />
            </div>

            <div class="form-group">
                <!-- <label>Email address</label> -->
                <input type="email" name="email" pattern="[^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.+-]+\.edu$]"
                    class="form-control" placeholder="Enter email" required />
            </div>

            <!-- <div>
                <input type="file" name="profilePicture" accept=".jpg, .jpeg, .png">
            </div> -->

            <div class="form-group">
                <!-- <label>Password</label> -->
                <input type="password" name="password" class="form-control" placeholder="Enter password" required />
            </div>

            <button class="main-white-button" type="submit">Register</button>
            <p class="text-white">Already registered? <a id="show-login2">Log in</a></p>
        </form>


    </div>

    <div class="loginForm ">
        <!-- <form method="POST" action="https://homiefy-group-a.herokuapp.com/login" enctype="multipart/form-data"> -->
        <form method="POST" action="/api/auth/login" Content-Type="application/json">
            <!--<h3>LOG IN FORM</h3> -->


            <div class="close-btn">&times;</div>
            <div class="form-group">
                <!-- <label>Email address</label> -->
                <input type="email" name="email" pattern="[^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.+-]+\.edu$]"
                    class="form-control" placeholder="Enter email" required />
            </div>

            <div class="form-group">
                <!-- <label>Password</label> -->
                <input type="password" name="password" class="form-control" placeholder="Enter password" required />
            </div>

            <button class="main-white-button" type="submit">Log in</button>
            <p class="message text-white">Not registered? <a id="show-register">Register</a></p>
        </form>

    </div>
    <script src="../js/index.js"></script>
</body>
</html>
