<!DOCTYPE html>
<html>
<head>
	<title>Homiefy</title>
	<link rel="stylesheet" href="../css/login.css">
</head>
<body>
	<header>
		<div class="main">
			<div class="logo">
				<img src="homefy.png">
			</div>
			<ul>
				<li class="active"><a href="/form">SIGN-UP</a></li>
				<li><a href="/login">LOGIN</a></li>
				<li><a href="#">SERVICES</a></li>
				<li><a href="#">ABOUT</a></li>
				<li><a href="#">CONTACT</a></li>
			</ul>
			
		</div>
		<div class="title">
			<h1> Homify App </h1>
			<h4>where college students will use this application to find roommates rate, and review their experiences. The goal is to help college student have more information about their potential roommate and avoid shocks in the future.</h4>

		</div>
	</header>

</body>
</html>