<link rel="stylesheet" href="../css/navbar.css">

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-expand-lg navbar-light bg-light"> <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="navbar-toggler-icon"></span> </button> <a class="navbar-brand" href="#">Homiefy</a>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="navbar-nav">
                        <li class="nav-item active"> <a class="nav-link" href="#">HOME <span class="sr-only">(current)</span></a> </li>
                        <li class="nav-item"> <a class="nav-link" href="#">ABOUT</a> </li>
                    </ul>
                    <form class="form-inline"> <input class="form-control mr-sm-2" type="text" /> <button class="btn btn-primary my-2 my-sm-0" type="submit"> Search </button> </form>
                    
                    <ul class="navbar-nav ml-md-auto">
                      <li class="nav-item dropdown"> 
                        <div class="dropdown">
                          <div class="profile"> <img class="drop-btn" src="https://i.imgur.com/ywRonqz.jpg">
                              <div class="dropdown-content">
                                  <ul>
                                    <li><i class='bx bx-user'></i><span><a href="/profile/<%=currentuser._id%>">Profile</a></span></li>
                                    <li><i class='bx bx-cog'></i><span><a href="/profile-edit"></a>Settings</span></li>
                                    <li><i class='bx bx-cog'></i><span>Help</span></li>
                                    <li><i class='bx bx-log-in-circle'></i><span><a href="/"></a>Logout</span></li>
                                  </ul>
                              </div>
                          </div>
                        </div>
                      </li>                    
                  </ul>
                </div>
            </nav>
        </div>
    </div>
</div>